
#experiment {
    min-height: 1000px;
}

.block {
    position: absolute;
    left: 50%;
    top: 300px;
}

.block p {
    line-height: 14px;
    font-size: 12px;
}

.block h2 {
    font-weight: bold;
}

.block.two {
    top: 416px;
    left: 50%;
    margin-left: -200px;
}

.block.three {
    top: 532px;
    left: 50%;
    margin-left: -400px;
}

.rightFace,
.leftFace,
.topFace div {
    padding: 10px;
    width: 180px;
    height: 180px;
}

.rightFace,
.leftFace,
.topFace {
    position: absolute;
}

.block:hover .rightFace,
.block:hover .leftFace,
.block:hover .topFace div {
    background-color: #ffc;
}

.block:hover .rightFace:hover,
.block:hover .leftFace:hover,
.block:hover .topFace:hover div {
    background-color: #ffa;
}

.leftFace {
    -webkit-transform: skew(0deg, 30deg);
    -moz-transform: skew(0deg, 30deg);
    -o-transform: skew(0deg, 30deg);
    -ms-transform: skew(0deg, 30deg);
    transform: skew(0deg, 30deg);
    background-color: #ccc; /* ccc */
}

.rightFace {
    -webkit-transform: skew(0deg, -30deg);
    -moz-transform: skew(0deg, -30deg);
    -o-transform: skew(0deg, -30deg);
    -ms-transform: skew(0deg, -30deg);
    transform: skew(0deg, -30deg);
    background-color: #ddd; /* ddd */
    left: 200px;
}

.topFace div {
    -webkit-transform: skew(0deg, -30deg) scale(1, 1.16);
    -moz-transform: skew(0deg, -30deg) scale(1, 1.16);
    -o-transform: skew(0deg, -30deg) scale(1, 1.16);
    -ms-transform: skew(0deg, -30deg) scale(1, 1.16);
    transform: skew(0deg, -30deg) scale(1, 1.16);
    background-color: #eee; /* eee */
    font-size: 0.862em;
}

.topFace {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -158px;
    left: 100px;
}

.block {
    -webkit-transition: -webkit-transform 1s linear;
    -moz-transition: -moz-transform 1s linear;
    -o-transition: -o-transform 1s linear;
    -ms-transition: -ms-transform 1s linear;
    transition: transform 1s linear;
}

.block:hover {
    -webkit-transform: translate(202px, 115px);
    -moz-transform: translate(202px, 115px);
    -o-transform: translate(202px, 115px);
    -ms-transform: translate(202px, 115px);
    transform: translate(202px, 115px);
}
