#body  {
  text-align: left;
  width: auto;
}

#main {
  border: 2px #40bf80 solid;
  padding: 30px;
  margin: 5vh 24vw 5vh 24vw;
}

#name {
   padding-bottom: 10px;
}

body {
    font-family: Avenir, Arial, sans-serif;
    color: #2B0066;
}

h1 {
    display: inline-table;
    margin-top: 0;
    margin-bottom: 1vmax;
    font-size: 2.75vmax;
    font-weight: 500;
    letter-spacing: -1px;
    color: #40bf80;
    line-height: 2.5vmax;
}

p {
    margin-top: 0;
    line-height: 1.7vmax;
    letter-spacing: -.3px;
    font-size: 1.15vmax;
    color: #2B0066;
}

img {
    max-width: 100%;
    height: auto;
}

a, a:visited, a:hover {
    text-decoration: none;
    border-bottom: 1px solid #40bf80;
    color: #2B0066;
}

a:hover {
    background-color: #40bf80;
}

#nohover {
    border-bottom: none;
    color: #fff;
}

@media (max-width: 1024px) {
    body {
        margin: auto;
    }
    p {
        line-height: 2.7vmax;
        font-size: 1.65vmax;
    }
    #main {
      border: 0px;
      margin: 2vh 0vw 2vh 6vw;
      padding: 4vmin;
    }
}
