#body  {
  text-align: center;
  width: auto;
  background-color: black;
}

#main {
  border: 2px white solid;
  padding: 30px;
  margin: 5vh 24vw 5vh 24vw;
}

#name {
  padding-bottom: 10px;
}

#footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

body {
    font-family: Avenir, Arial, sans-serif;
    color: white;
}

p {
    margin-top: 0;
    line-height: 1.7vmax;
    letter-spacing: -.3px;
    font-size: 1.15vmax;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

a, a:visited, a:hover {
    text-decoration: none;
    border-bottom: 1px solid #40bf80;
    color: #2B0066;
}

a:hover {
    background-color: #40bf80;
}

#nohover {
    border-bottom: none;
    color: #fff;
}

@media (max-width: 1024px) {
    body {
        margin: auto;
    }
    p {
        line-height: 2.7vmax;
        font-size: 1.65vmax;
    }
    #main {
      border: 0px;
      margin: 2vh 0vw 2vh 6vw;
      padding: 4vmin;
    }
}
